.menu-btn{

display:none;

background:#d4af37;

font-size:25px;

padding:10px 15px;

}


/* MOBILE SIDE MENU */

@media(max-width:600px){


.menu-btn{

display:block;

position:absolute;

right:20px;

top:20px;

z-index:200;

}


header{

position:relative;

}


nav#mobileMenu{


position:fixed;

top:0;

right:-280px;

height:100vh;

width:260px;

background:#4b1f72;

display:flex;

flex-direction:column;

padding-top:100px;

padding-left:30px;

gap:25px;

transition:.3s;

box-shadow:-5px 0 20px rgba(0,0,0,.3);

}


nav#mobileMenu.open{

right:0;

}


nav#mobileMenu a{

font-size:20px;

color:white;

}


}
